---
title: Profile
stylesheets:
- ../../public/css/main.css
- ../../public/css/button.css
- ../../public/css/authorization-container.css
- ../../public/css/form-control.css
- ../../public/css/upload-photo.css
- ../../public/css/modal.css
---

{{#extend "main"}}
    {{#content "content"}}
        <div class="page page_centered">
        {{#extend "authorizationcontainer" header="Profile"}}
            {{#content "form"}}
                <form>
                    <div class="form-control authorization-container__form-control">
                        <img src="/src/public/images/profile.svg" class="form-control__image" width="130" height="130" alt="Choose profile picture on click">
                        <input type="file" name="avatar" style="display: none" />
                    </div>
                    {{> formcontrol externalClasses="authorization-container__form-control" label="First name" name="first_name" type="text" placeholder="First name" }}
                    {{> formcontrol externalClasses="authorization-container__form-control" label="Second name" name="second_name" type="text" placeholder="Second name" }}
                    {{> formcontrol externalClasses="authorization-container__form-control" label="Display name" name="display_name" type="text" placeholder="Display name" }}
                    {{> formcontrol externalClasses="authorization-container__form-control" label="Login" name="login" type="text" placeholder="Login" }}
                    {{> formcontrol externalClasses="authorization-container__form-control" label="Email" name="email" type="text" placeholder="Email" }}
                    {{> formcontrol externalClasses="authorization-container__form-control" label="Phone" name="phone" type="text" placeholder="Phone" inputClasses="form-control__input_error" errorText="Required" }}
                    {{> button type="submit" title="Save" externalClasses="button_blue button_full-width authorization-container__form-control"}}
                </form>
                <form>
                    {{> formcontrol externalClasses="authorization-container__form-control" label="Old password" name="oldPassword" type="password" placeholder="Old password" inputClasses="form-control__input_error" errorText="Don't match" }}
                    {{> formcontrol externalClasses="authorization-container__form-control" label="New password" name="newPassword" type="password" placeholder="New password" inputClasses="form-control__input_error" errorText="Don't match" }}
                    {{> button type="submit" title="Change password" externalClasses="button_blue button_full-width authorization-container__form-control"}}
                    {{> link title="Back to chat" href="#" externalClasses="link__blue"}}
                </form>
            {{/content}}
        {{/extend}}
        {{#extend "modal" externalClasses="modal_active"}}
            {{#content "body"}}
                <div class="upload-photo">
                    <h4 class="upload-photo__title">Upload photo</h4>
                    <div class="upload-photo__content">
                        {{> button title="Select a file" externalClasses="button_link"}}
                    </div>
                    {{> button title="Save" externalClasses="button_blue button_full-width"}}
                </div>
            {{/content}}
        {{/extend}}
        </div>
    {{/content}}
{{/extend}}