---
title: 500
stylesheets:
- ../../public/css/main.css
- ../../public/css/button.css
- ../../public/css/authorization-container.css
- ../../public/css/form-control.css
- ../../public/css/upload-photo.css
- ../../public/css/modal.css
- ../../public/css/errors.css
---
{{#extend "main"}}
    {{#content "content"}}
        <div class="page page_centered">
            {{> errorcontainer body="Something went wrong" code=500 externalClasses="error-container_danger"}}
        </div>
    {{/content}}
{{/extend}}