---
id: "404"
title: 404
stylesheets:
- ../assets/main.css
- 404.css
scripts:
- ../../index.js
---

{{#extend "main"}}
    {{#content "content"}}
        <div class="page page_centered">
            <div class="error-container">
                <div class="error-container__title">404</div>
                <div class="error-container__content">Not found</div>
                <a class="link link__blue" href="#">Back to chat</a>
            </div>
        </div>
    {{/content}}
{{/extend}}