.chat-page {
    display: flex;
}

.chat-sidebar {
    height: 100vh;
    width: 350px;
    background: var(--color-grey-sky);
}

.chat-sidebar-header {
    margin: 1rem 0.5rem 0 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-grey-wolf);
    &__search-input {
        margin-top: 1rem;
    }
}

.chat-header-profile-nav {
    color: var(--color-grey);
    display: flex;
    justify-content: end;
    font-size: 0.75rem;
    &__link {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__link-text {
        margin-right: 0.5rem;
    }
}

.chat-search-input {
    width: 100%;
    background: var(--color-grey-ground);
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
    color: var(--color-grey);
    font-size: 0.75rem;
    font-weight: 500;
}

.chat-area {
    &__header {

    }
}