---
id: "chat"
title: Chat
stylesheets:
- ../assets/main.css
- login.css
- chat.css
scripts:
- ../../index.js
---

{{#extend "main"}}
    {{#content "content"}}
        <div class="page chat-page">
            <aside class="chat-sidebar">
                <div class="chat-sidebar-header">
                    <div class="chat-header-profile-nav">
                        <a class="chat-header-profile-nav__link">
                            <span class="chat-header-profile-nav__link-text">
                                Profile
                            </span>
                            <img src="../assets/images/shevron-right.svg" alt="Referral to profile page on click" />
                        </a>
                    </div>
                    <input class="chat-input chat-sidebar-header__search-input" placeholder="Search" />
                </div>
                <div class="chat-sidebar-chat-list">
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview chat-media-preview_active">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Mom</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-media-preview">
                        <div class="person-avatar"></div>
                        <div class="chat-media-preview__content message-preview">
                            <div>
                                <h5>Peter</h5>
                                <div class="message-preview__text">
                                    Friends, I have a special news for you! Jenny and me going to go bla bla bla
                                </div>
                            </div>
                            <div class="message-preview__meta">
                                <div class="message-timer-bar">
                                    <span class="message-timer-bar__time">10:49</span>
                                    <img src="../assets/images/cross.svg" class="message-timer-bar__action" alt="Delete this chat action">
                                </div>
                                <div class="round-pill">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="chat-area">
                <div class="chat-area__header">
                    <div class="chat-header-media">
                        <div class="person-avatar"></div>
                        <h5 class="chat-header-media__title">Mom</h5>
                    </div>
                    <div class="dropdown dropdown_active">
                        <div class="dropdown__trigger">
                            <img src="../assets/images/dots.svg" alt="Chat actions">
                        </div>
                        <div class="dropdown__content">
                            <div class="dropdown-item">
                                <img src="../assets/images/round-plus.svg" width="22" height="22" alt="Add user to chat" class="dropdown-item__icon">
                                <span class="dropdown-item__title">Добавить пользователя</span>
                            </div>
                            <div class="dropdown-item">
                                <img src="../assets/images/round-cross.svg" width="22" height="22" alt="Add user to chat" class="dropdown-item__icon">
                                <span class="dropdown-item__title">Удалить пользователя</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-area__messages">
                    <div class="timeline-date">19 June</div>
                    <div class="chat-message">
                        Jenny and I have been friends for a long time. We usually do everything together and have so much fun. From days out to being each other's support when times are tough, we always have each others back. We have shared so many memories that we will always cherish. Jenny is my best friend and I wouldn't have it any
                        <div class="chat-message__footer">
                            <span class="chat-message__time">11:32</span>
                        </div>
                    </div>
                    <div class="chat-message chat-message_image">
                        <img src="../assets/images/camera.png" alt="Sent message picture">
                    </div>
                    <div class="chat-message">
                        Jenny and I have been friends for a long time. We usually do everything together and have so much fun. From days out to being each other's support when times are tough, we always have each others back. We have shared so many memories that we will always cherish. Jenny is my best friend and I wouldn't have it any
                        <div class="chat-message__footer">
                            <span class="chat-message__time">11:32</span>
                        </div>
                    </div>
                    <div class="chat-message chat-message_own">
                        Hi, Mom! I love you!
                        <div class="chat-message__footer">
                            <span class="chat-message__time">11:32</span>
                        </div>
                    </div>
                </div>
                <div class="chat-area__footer">
                    <div class="message-bar">
                        <div class="dropdown dropdown_active">
                            <div class="dropdown__trigger">
                                <img src="../assets/images/clip.svg" width="32" height="32" alt="Additional action for message" />
                            </div>
                            <div class="dropdown__content dropdown__content_position-top dropdown__content_position-right">
                                <div class="dropdown-item">
                                    <img src="../assets/images/media.svg" width="22" height="22" alt="Send media as message" class="dropdown-item__icon">
                                    <span class="dropdown-item__title">Фото или Видео</span>
                                </div>

                                <div class="dropdown-item">
                                    <img src="../assets/images/file.svg" width="22" height="22" alt="Send file as message" class="dropdown-item__icon">
                                    <span class="dropdown-item__title">Файл</span>
                                </div>
                                <div class="dropdown-item">
                                    <img src="../assets/images/round-dot.svg" width="22" height="22" alt="Send location as message" class="dropdown-item__icon">
                                    <span class="dropdown-item__title">Локация</span>
                                </div>
                            </div>
                        </div>
                        <input class="chat-input chat-input_text-left message-bar__message-input" placeholder="Message" />
                        <button class="round-pill message-bar__send-message">
                            <img src="../assets/images/arrow-right.svg" alt="Send message button">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}