.login-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-grey-shadow);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    align-items: center;
    &__header {
        color: var(--color-grey);
    }
    &__form {
        margin-top: 1rem;
        min-width: 200px;
    }
    &__form-control {
        margin-bottom: 0.5rem;
    }
}

.form-control {
    display: flex;
    flex-direction: column;
    &__label {
        color: var(--color-grey);
        font-size: 0.75rem;
    }
    &__input {
        margin-top: 0.5rem;
        background: var(--color-grey-sky);
        border: 1px solid var(--color-grey-secondary);
        border-radius: 0.25rem;
        padding: 0.375rem 0.5rem;
        color: var(--color-grey-mountain);
        font-size: 0.875rem;
    }
}

.button {
    border-radius: 0.25rem;
    padding: 0.6875rem;
    border: none;
    &_full-width {
        width: 100%;
    }
    &__blue {
        background: var(--color-blue);
        color: var(--color-white);
    }
}

.link {
    font-size: 0.75rem;
    &__blue {
        color: var(--color-blue);
    }
}