---
id: "profile"
title: Profile
stylesheets:
- ../assets/main.css
- login.css
- modal.css
- upload-photo.css
scripts:
- ../../index.js
---

{{#extend "main"}}
    {{#content "content"}}
        <div class="page page_centered">
            <div class="authorization-container">
                <h4 class="authorization-container__header">Profile</h4>
                <div class="authorization-container__form">
                    <form>
                        <div class="form-control authorization-container__form-control">
                            <img src="../assets/images/profile.svg" class="form-control__image" width="130" height="130" alt="Choose profile picture on click">
                        </div>
                        <div class="form-control authorization-container__form-control">
                            <label class="form-control__label">First name</label>
                            <input name="first_name" type="text" placeholder="First name" class="form-control__input" />
                        </div>
                        <div class="form-control authorization-container__form-control">
                            <label class="form-control__label">Second name</label>
                            <input name="second_name" type="text" placeholder="Second name" class="form-control__input" />
                        </div>
                        <div class="form-control authorization-container__form-control">
                            <label class="form-control__label">Display name</label>
                            <input name="display_name" type="text" placeholder="Display name" class="form-control__input" />
                        </div>
                        <div class="form-control authorization-container__form-control">
                            <label class="form-control__label">Login</label>
                            <input name="login" type="text" placeholder="Login" class="form-control__input" />
                        </div>
                        <div class="form-control authorization-container__form-control">
                            <label class="form-control__label">Email</label>
                            <input name="email" type="text" placeholder="Email" class="form-control__input" />
                        </div>
                        <div class="form-control authorization-container__form-control">
                            <label class="form-control__label">Phone</label>
                            <input name="phone" type="text" placeholder="Phone" class="form-control__input form-control__input_error" />
                            <label class="form-control__error-label">Required</label>
                        </div>
                        <button type="submit" class="button button_blue button_full-width authorization-container__form-control">Save</button>
                    </form>
                    <form>
                        <div class="form-control authorization-container__form-control">
                            <label class="form-control__label">Old password</label>
                            <input name="oldPassword" type="password" placeholder="Old password" class="form-control__input form-control__input_error" />
                            <label class="form-control__error-label">Don't match</label>
                        </div>
                        <div class="form-control authorization-container__form-control">
                            <label class="form-control__label">New password</label>
                            <input name="newPassword" type="password" placeholder="New password" class="form-control__input form-control__input_error" />
                            <label class="form-control__error-label">Don't match</label>
                        </div>
                        <button type="submit" class="button button_blue button_full-width authorization-container__form-control">Change password</button>
                        <a class="link link__blue" href="#">Back to chat</a>
                    </form>
                </div>
            </div>
            <div class="modal modal_active">
                <div class="modal__content">
                    <div class="upload-photo">
                        <h4 class="upload-photo__title">Upload photo</h4>
                        <div class="upload-photo__content">
                            <button class="button button_link">Select a file</button>
                        </div>
                        <button class="button button_blue button_full-width">Save</button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}