<div class="authorization-container">
    <h4 class="authorization-container__header">{{header}}</h4>
    <div class="authorization-container__form">
        {{#block "form"}}
        {{/block}}
    </div>
</div>