<div class="error-container {{externalClasses}}">
    <div class="error-container__title">{{code}}</div>
    <div class="error-container__content">{{body}}</div>
    {{> link title="Back to chat" href="#" externalClasses="link__blue"}}
</div>